Connecté à Python 3.12.6

In [ ]:
# IMPORTATION DES LIBRAIIRES
import pandas as pd
import matplotlib.pyplot as ply
import seaborn as sns

# IMPORTATION DE LA BASE DE DONNEES
ro_data = pd.read_excel(r'c:\Users\HP ELITEBOOK 840 G6\Downloads\BASE DE DONNEES RECONSTITUEES.xlsx')

ro_data.columns #Affichage des variables de la base de données
ro_data.isna().sum() #Affichage des valeurs manquantes
ro_data.duplicated().sum() #Affichage des doublons

# Détection  des valeurs abérrantes
Q1 = ro_data.quantile(0.25)
Q3 = ro_data.quantile(0.75)
IQR = Q3 - Q1
aberrantes = ((ro_data<(Q1-1.5*IQR))|(ro_data>(Q3+1.5*IQR)))
outlier = ro_data[aberrantes.any(axis=1)]
outlier

# Correction des valeurs aberrantes en les remplaçant par la médiane
ro_data_corrige = ro_data.copy()
for col in ro_data.columns:
    ro_data_corrige.loc[aberrantes[col], col] = ro_data[col].median()

ro_data_corrige

,log Lender_ShareN,LnTranche_Amount,Working_capital,SecuredNew,Long_term,Short_term,log Number_of_Lenders,ROA_BORROWER,Total_loans_to_total_assets_LEND,Total_deposits_to_total_assets_L,ROA_LENDER,RefinancingNew,Size_BORROWER,Number_of_Lead_Arrangers,GPR
0,5.0,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,NaN
1,5.0,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,NaN
2,2.0,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,NaN
3,2.0,6.620073,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,NaN
4,2.0,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65858,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65859,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65860,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65861,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65862,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN

Connecté à Python 3.12.6

In [ ]:
import pandas as pd

# Assure-toi d'avoir installé xlrd
import xlrd

# Charge le fichier Excel
gpr = pd.read_excel(r'c:\Users\HP ELITEBOOK 840 G6\Downloads\data_gpr_export.xls')

# Affiche les colonnes
print(gpr.columns)

Index(['month', 'GPR', 'GPRT', 'GPRA', 'GPRH', 'GPRHT', 'GPRHA', 'SHARE_GPR',
       'N10', 'SHARE_GPRH',
       ...
       'GPRHC_TUN', 'GPRHC_TUR', 'GPRHC_TWN', 'GPRHC_UKR', 'GPRHC_USA',
       'GPRHC_VEN', 'GPRHC_VNM', 'GPRHC_ZAF', 'var_name', 'var_label'],
      dtype='object', length=115)

In [ ]:
variables = ['month', 'GPR', 'GPRT', 'GPRA', 'GPRH', 'GPRHT', 'GPRHA', 'SHARE_GPR', 'GPRHC_USA', 'GPRHC_UKR']

data_gpr =pd.DataFrame(data =gpr, columns=variables)

In [ ]:
data_gpr

,month,GPR,GPRT,GPRA,GPRH,GPRHT,GPRHA,SHARE_GPR,GPRHC_USA,GPRHC_UKR
0,1900-01-01,NaN,NaN,NaN,87.927849,64.717491,110.453522,NaN,2.718799,0.000000
1,1900-02-01,NaN,NaN,NaN,86.566490,71.936844,96.250488,NaN,2.732469,0.000000
2,1900-03-01,NaN,NaN,NaN,72.140701,57.475853,84.499428,NaN,2.151507,0.000000
3,1900-04-01,NaN,NaN,NaN,54.419449,37.326603,65.858208,NaN,1.776175,0.000000
4,1900-05-01,NaN,NaN,NaN,64.405197,48.200008,74.373955,NaN,1.970109,0.000000
...,...,...,...,...,...,...,...,...,...,...
1492,2024-05-01,128.930893,129.999741,130.959442,119.103714,138.974182,117.192543,3.867132,4.277566,1.768061
1493,2024-06-01,112.025040,125.119675,108.025307,96.761589,111.335510,100.256050,3.360061,3.490602,1.265823
1494,2024-07-01,91.424942,93.249382,94.774818,79.325897,85.334679,77.325958,2.742185,2.822423,0.744806
1495,2024-08-01,137.931671,122.810356,161.108459,117.364357,112.740990,136.000717,4.137101,4.175568,1.340066
1496,2024-09-01,122.984085,121.847969,133.762909,104.697205,113.476357,108.887611,3.688765,3.738137,1.433275

In [ ]:
data_gpr.isna().sum()

month           0
GPR          1020
GPRT         1020
GPRA         1020
GPRH            0
GPRHT           0
GPRHA           0
SHARE_GPR    1020
GPRHC_USA       0
GPRHC_UKR       0
dtype: int64

In [ ]:
data_gpr.columns

Index(['month', 'GPR', 'GPRT', 'GPRA', 'GPRH', 'GPRHT', 'GPRHA', 'SHARE_GPR',
       'GPRHC_USA', 'GPRHC_UKR'],
      dtype='object')

In [ ]:
fillna_gpr = data_gpr.fillna(data_gpr.median)

In [ ]:
fillna_gpr

,month,GPR,GPRT,GPRA,GPRH,GPRHT,GPRHA,SHARE_GPR,GPRHC_USA,GPRHC_UKR
0,1900-01-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,87.927849,64.717491,110.453522,<bound method DataFrame.median of mo...,2.718799,0.000000
1,1900-02-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,86.566490,71.936844,96.250488,<bound method DataFrame.median of mo...,2.732469,0.000000
2,1900-03-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,72.140701,57.475853,84.499428,<bound method DataFrame.median of mo...,2.151507,0.000000
3,1900-04-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,54.419449,37.326603,65.858208,<bound method DataFrame.median of mo...,1.776175,0.000000
4,1900-05-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,64.405197,48.200008,74.373955,<bound method DataFrame.median of mo...,1.970109,0.000000
...,...,...,...,...,...,...,...,...,...,...
1492,2024-05-01,128.930893,129.999741,130.959442,119.103714,138.974182,117.192543,3.867132,4.277566,1.768061
1493,2024-06-01,112.02504,125.119675,108.025307,96.761589,111.335510,100.256050,3.360061,3.490602,1.265823
1494,2024-07-01,91.424942,93.249382,94.774818,79.325897,85.334679,77.325958,2.742185,2.822423,0.744806
1495,2024-08-01,137.931671,122.810356,161.108459,117.364357,112.740990,136.000717,4.137101,4.175568,1.340066
1496,2024-09-01,122.984085,121.847969,133.762909,104.697205,113.476357,108.887611,3.688765,3.738137,1.433275

In [ ]:
fillna_gpr['gPR'] = fillna_gpr[variables].mean(axis=1)

In [ ]:
fillna_gpr

,month,GPR,GPRT,GPRA,GPRH,GPRHT,GPRHA,SHARE_GPR,GPRHC_USA,GPRHC_UKR,gPR
0,1900-01-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,87.927849,64.717491,110.453522,<bound method DataFrame.median of mo...,2.718799,0.000000,87.699621
1,1900-02-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,86.566490,71.936844,96.250488,<bound method DataFrame.median of mo...,2.732469,0.000000,84.917941
2,1900-03-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,72.140701,57.475853,84.499428,<bound method DataFrame.median of mo...,2.151507,0.000000,71.371994
3,1900-04-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,54.419449,37.326603,65.858208,<bound method DataFrame.median of mo...,1.776175,0.000000,52.534753
4,1900-05-01,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,<bound method DataFrame.median of mo...,64.405197,48.200008,74.373955,<bound method DataFrame.median of mo...,1.970109,0.000000,62.326387
...,...,...,...,...,...,...,...,...,...,...,...
1492,2024-05-01,128.930893,129.999741,130.959442,119.103714,138.974182,117.192543,3.867132,4.277566,1.768061,125.090146
1493,2024-06-01,112.02504,125.119675,108.025307,96.761589,111.335510,100.256050,3.360061,3.490602,1.265823,102.784383
1494,2024-07-01,91.424942,93.249382,94.774818,79.325897,85.334679,77.325958,2.742185,2.822423,0.744806,80.662178
1495,2024-08-01,137.931671,122.810356,161.108459,117.364357,112.740990,136.000717,4.137101,4.175568,1.340066,122.035355
1496,2024-09-01,122.984085,121.847969,133.762909,104.697205,113.476357,108.887611,3.688765,3.738137,1.433275,109.020391

In [ ]:
fillna_gpr.columns

Index(['month', 'GPR', 'GPRT', 'GPRA', 'GPRH', 'GPRHT', 'GPRHA', 'SHARE_GPR',
       'GPRHC_USA', 'GPRHC_UKR', 'gPR'],
      dtype='object')

In [ ]:
grp =pd.DataFrame(data= fillna_gpr, columns=['gPR'])
grp

             gPR
0      87.699621
1      84.917941
2      71.371994
3      52.534753
4      62.326387
...          ...
1492  125.090146
1493  102.784383
1494   80.662178
1495  122.035355
1496  109.020391

[1497 rows x 1 columns]

In [ ]:
# IMPORTATION DES LIBRAIIRES
import pandas as pd
import xlrd
import matplotlib.pyplot as ply
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# IMPORTATION DE LA BASE DE DONNEES
ro_data = pd.read_excel(r'c:\Users\HP ELITEBOOK 840 G6\Downloads\BASE DE DONNEES RECONSTITUEES.xlsx')

ro_data.columns #Affichage des variables de la base de données
ro_data.isna().sum() #Affichage des valeurs manquantes
ro_data.duplicated().sum() #Affichage des doublons

# Détection  des valeurs abérrantes
Q1 = ro_data.quantile(0.25)
Q3 = ro_data.quantile(0.75)
IQR = Q3 - Q1
aberrantes = ((ro_data<(Q1-1.5*IQR))|(ro_data>(Q3+1.5*IQR)))
outlier = ro_data[aberrantes.any(axis=1)]
outlier

# Correction des valeurs aberrantes en les remplaçant par la médiane
ro_data_corrige = ro_data.copy()
for col in ro_data.columns:
    ro_data_corrige.loc[aberrantes[col], col] = ro_data[col].median()

ro_data_corrige

,log Lender_ShareN,LnTranche_Amount,Working_capital,SecuredNew,Long_term,Short_term,log Number_of_Lenders,ROA_BORROWER,Total_loans_to_total_assets_LEND,Total_deposits_to_total_assets_L,ROA_LENDER,RefinancingNew,Size_BORROWER,Number_of_Lead_Arrangers,GPR
0,5.0,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,NaN
1,5.0,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,NaN
2,2.0,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,NaN
3,2.0,6.620073,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,NaN
4,2.0,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65858,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65859,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65860,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65861,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN
65862,10.0,3.806663,0,1,0,0,5,-0.026250,0.477557,0.684328,0.004294,1,19.132615,1,NaN

In [ ]:
grp.to_excel('grp.xlsx')
ro_data_corrige.to_excel("ro_data.xlsx")

In [ ]:
data_gpr =pd.DataFrame(data =gpr, columns=['GPR'])

In [ ]:
data_gpr.to_excel('gpr.xlsx')

In [ ]:
fillna_gpr_gpr =pd.DataFrame(data =gpr, columns=['GPR'])
fillna_gpr.to_excel('gpr.xlsx')

In [ ]:
# Importation de la base de données d'étude 
study_data = pd.read_excel(r'ro_data.xlsx')

# Tronquage de la base de données sur 2000 obs
nombre_dobservation = 2000
datacanada =study_data.head(nombre_dobservation)

In [ ]:
datacanada

,Unnamed: 0,log Lender_ShareN,LnTranche_Amount,Working_capital,SecuredNew,Long_term,Short_term,log Number_of_Lenders,ROA_BORROWER,Total_loans_to_total_assets_LEND,Total_deposits_to_total_assets_L,ROA_LENDER,RefinancingNew,Size_BORROWER,Number_of_Lead_Arrangers,GPR
0,0,5.0000,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,<bound method DataFrame.median of mo...
1,1,5.0000,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,<bound method DataFrame.median of mo...
2,2,2.0000,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,<bound method DataFrame.median of mo...
3,3,2.0000,6.620073,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,<bound method DataFrame.median of mo...
4,4,2.0000,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,<bound method DataFrame.median of mo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,253.431351
1996,1996,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,224.829819
1997,1997,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,220.133672
1998,1998,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,204.424026
1999,1999,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,197.94576

In [ ]:
datacanada['GPR']

0       <bound method DataFrame.median of           mo...
1       <bound method DataFrame.median of           mo...
2       <bound method DataFrame.median of           mo...
3       <bound method DataFrame.median of           mo...
4       <bound method DataFrame.median of           mo...
                              ...
1995                                           253.431351
1996                                           224.829819
1997                                           220.133672
1998                                           204.424026
1999                                            197.94576
Name: GPR, Length: 2000, dtype: object

In [ ]:
datacanada.isna().sum()

Unnamed: 0                          0
log Lender_ShareN                   0
LnTranche_Amount                    0
Working_capital                     0
SecuredNew                          0
Long_term                           0
Short_term                          0
log Number_of_Lenders               0
ROA_BORROWER                        0
Total_loans_to_total_assets_LEND    0
Total_deposits_to_total_assets_L    0
ROA_LENDER                          0
RefinancingNew                      0
Size_BORROWER                       0
Number_of_Lead_Arrangers            0
GPR                                 0
dtype: int64

In [ ]:
datacanada.columns

Index(['Unnamed: 0', 'log Lender_ShareN', 'LnTranche_Amount',
       'Working_capital', 'SecuredNew', 'Long_term', 'Short_term',
       'log Number_of_Lenders', 'ROA_BORROWER',
       'Total_loans_to_total_assets_LEND', 'Total_deposits_to_total_assets_L',
       'ROA_LENDER', 'RefinancingNew', 'Size_BORROWER',
       'Number_of_Lead_Arrangers', 'GPR'],
      dtype='object')

In [ ]:
datacanada = datacanada.drop(columns=['Unnamed: 0'])

In [ ]:
datacanada

,log Lender_ShareN,LnTranche_Amount,Working_capital,SecuredNew,Long_term,Short_term,log Number_of_Lenders,ROA_BORROWER,Total_loans_to_total_assets_LEND,Total_deposits_to_total_assets_L,ROA_LENDER,RefinancingNew,Size_BORROWER,Number_of_Lead_Arrangers,GPR
0,5.0000,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,<bound method DataFrame.median of mo...
1,5.0000,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,<bound method DataFrame.median of mo...
2,2.0000,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,<bound method DataFrame.median of mo...
3,2.0000,6.620073,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,<bound method DataFrame.median of mo...
4,2.0000,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,<bound method DataFrame.median of mo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,253.431351
1996,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,224.829819
1997,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,220.133672
1998,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,204.424026
1999,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,197.94576

In [ ]:
datacanada.count()

log Lender_ShareN                   2000
LnTranche_Amount                    2000
Working_capital                     2000
SecuredNew                          2000
Long_term                           2000
Short_term                          2000
log Number_of_Lenders               2000
ROA_BORROWER                        2000
Total_loans_to_total_assets_LEND    2000
Total_deposits_to_total_assets_L    2000
ROA_LENDER                          2000
RefinancingNew                      2000
Size_BORROWER                       2000
Number_of_Lead_Arrangers            2000
GPR                                 2000
dtype: int64

In [ ]:
datacanada.to_excel('datacanada.xlsx')

In [ ]:
# Remplacer les valeurs string par zéro
datacanada['GPR'] = datacanada['GPR'].apply(lambda x: 0 if isinstance(x, str) else x)

print(datacanada)

      log Lender_ShareN  LnTranche_Amount  Working_capital  SecuredNew  \
0                5.0000          6.396930                0           0
1                5.0000          6.396930                0           0
2                2.0000          7.467371                0           0
3                2.0000          6.620073                0           0
4                2.0000          7.467371                0           0
...                 ...               ...              ...         ...
1995             8.9286          5.991465                0           1
1996             8.9286          5.991465                0           1
1997             8.9286          5.991465                0           1
1998             8.9286          5.991465                0           1
1999             8.9286          5.991465                0           1

      Long_term  Short_term  log Number_of_Lenders  ROA_BORROWER  \
0             0           0                     21      0.040824
1             0           0                     21      0.040824
2             0           0                     24      0.153828
3             0           0                     24      0.153828
4             0           0                     24      0.153828
...         ...         ...                    ...           ...
1995          0           0                      4      0.016195
1996          0           0                      4      0.016195
1997          0           0                      4      0.016195
1998          0           0                      4      0.016195
1999          0           0                      4      0.016195

      Total_loans_to_total_assets_LEND  Total_deposits_to_total_assets_L  \
0                             0.662102                          0.700941
1                             0.662102                          0.700941
2                             0.645990                          0.676862
3                             0.645990                          0.676862
4                             0.645990                          0.676862
...                                ...                               ...
1995                          0.496058                          0.686435
1996                          0.496058                          0.686435
1997                          0.496058                          0.686435
1998                          0.496058                          0.686435
1999                          0.496058                          0.686435

      ROA_LENDER  RefinancingNew  Size_BORROWER  Number_of_Lead_Arrangers  \
0       0.032061               1      21.690008                         1
1       0.032061               1      21.690008                         1
2       0.035311               1      23.611858                         1
3       0.035311               1      23.611858                         1
4       0.035311               1      23.611858                         1
...          ...             ...            ...                       ...
1995    0.032878               1      20.096281                         1
1996    0.032878               1      20.096281                         1
1997    0.032878               1      20.096281                         1
1998    0.032878               1      20.096281                         1
1999    0.032878               1      20.096281                         1

             GPR
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
...          ...
1995  253.431351
1996  224.829819
1997  220.133672
1998  204.424026
1999  197.945760

[2000 rows x 15 columns]

In [ ]:
datacanada

,log Lender_ShareN,LnTranche_Amount,Working_capital,SecuredNew,Long_term,Short_term,log Number_of_Lenders,ROA_BORROWER,Total_loans_to_total_assets_LEND,Total_deposits_to_total_assets_L,ROA_LENDER,RefinancingNew,Size_BORROWER,Number_of_Lead_Arrangers,GPR
0,5.0000,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,0.000000
1,5.0000,6.396930,0,0,0,0,21,0.040824,0.662102,0.700941,0.032061,1,21.690008,1,0.000000
2,2.0000,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,0.000000
3,2.0000,6.620073,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,0.000000
4,2.0000,7.467371,0,0,0,0,24,0.153828,0.645990,0.676862,0.035311,1,23.611858,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,253.431351
1996,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,224.829819
1997,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,220.133672
1998,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,204.424026
1999,8.9286,5.991465,0,1,0,0,4,0.016195,0.496058,0.686435,0.032878,1,20.096281,1,197.945760

In [ ]:
# Importation de la base de données d'étude 
study_data = pd.read_excel(r'ro_data.xlsx')

# Tronquage de la base de données sur 2000 obs
nombre_dobservation = 2000
datacanada =study_data.head(nombre_dobservation)

# Supression des variables iunutiles
datacanada = datacanada.drop(columns=['Unnamed: 0'])

In [ ]:
# Remplacer les valeurs string par zéro
datacanada['GPR'] = datacanada['GPR'].apply(lambda x: 0 if isinstance(x, str) else x)

In [ ]:
datacanada.columns

Index(['log Lender_ShareN', 'LnTranche_Amount', 'Working_capital',
       'SecuredNew', 'Long_term', 'Short_term', 'log Number_of_Lenders',
       'ROA_BORROWER', 'Total_loans_to_total_assets_LEND',
       'Total_deposits_to_total_assets_L', 'ROA_LENDER', 'RefinancingNew',
       'Size_BORROWER', 'Number_of_Lead_Arrangers', 'GPR'],
      dtype='object')

In [ ]:
# Normalisation des données
vars = ['log Lender_ShareN', 'LnTranche_Amount', 'Working_capital',
    'SecuredNew', 'Long_term', 'Short_term', 'log Number_of_Lenders',
    'ROA_BORROWER', 'Total_loans_to_total_assets_LEND',
    'Total_deposits_to_total_assets_L', 'ROA_LENDER', 'RefinancingNew',
    'Size_BORROWER', 'Number_of_Lead_Arrangers', 'GPR']
datacanada[vars] = MinMaxScaler().fit_transform(datacanada[vars])

In [ ]:
datacanada

,log Lender_ShareN,LnTranche_Amount,Working_capital,SecuredNew,Long_term,Short_term,log Number_of_Lenders,ROA_BORROWER,Total_loans_to_total_assets_LEND,Total_deposits_to_total_assets_L,ROA_LENDER,RefinancingNew,Size_BORROWER,Number_of_Lead_Arrangers,GPR
0,0.214005,0.536318,0.0,0.0,0.0,0.0,0.53125,0.288044,0.610573,0.822560,0.867478,0.0,0.389231,0.0,0.000000
1,0.214005,0.536318,0.0,0.0,0.0,0.0,0.53125,0.288044,0.610573,0.822560,0.867478,0.0,0.389231,0.0,0.000000
2,0.058085,0.738352,0.0,0.0,0.0,0.0,0.62500,0.700147,0.551326,0.335593,0.965113,0.0,0.670468,0.0,0.000000
3,0.058085,0.578434,0.0,0.0,0.0,0.0,0.62500,0.700147,0.551326,0.335593,0.965113,0.0,0.670468,0.0,0.000000
4,0.058085,0.738352,0.0,0.0,0.0,0.0,0.62500,0.700147,0.551326,0.335593,0.965113,0.0,0.670468,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.418186,0.459791,0.0,1.0,0.0,0.0,0.00000,0.198225,0.000000,0.529200,0.892036,0.0,0.156010,0.0,0.494472
1996,0.418186,0.459791,0.0,1.0,0.0,0.0,0.00000,0.198225,0.000000,0.529200,0.892036,0.0,0.156010,0.0,0.438667
1997,0.418186,0.459791,0.0,1.0,0.0,0.0,0.00000,0.198225,0.000000,0.529200,0.892036,0.0,0.156010,0.0,0.429504
1998,0.418186,0.459791,0.0,1.0,0.0,0.0,0.00000,0.198225,0.000000,0.529200,0.892036,0.0,0.156010,0.0,0.398853
1999,0.418186,0.459791,0.0,1.0,0.0,0.0,0.00000,0.198225,0.000000,0.529200,0.892036,0.0,0.156010,0.0,0.386213

In [ ]:
datacanada.to_stata('datacanada.dta')

<ipython-input-58-ed535c5a0a5a>:1: InvalidColumnName:
Not all pandas column names were valid Stata variable names.
The following replacements have been made:

    log Lender_ShareN   ->   log_Lender_ShareN
    log Number_of_Lenders   ->   log_Number_of_Lenders

If this is not what you expect, please make sure you have Stata-compliant
column names in your DataFrame (strings only, max 32 characters, only
alphanumerics and underscores, no Stata reserved words)

  datacanada.to_stata('datacanada.dta')

In [ ]:
datacanada.to_excel('datacanada.xlsx')