Rapport sur la prévision des montants de financement participatif

Le but de notre étude consiste à améliorer la précision des prévisions des montants de financement participatif d’une  entreprise dans le crowfunding. Pour parvenir à une telle réalisation, nous utiliserons des modèles de régression afin d’optimiser  des montants de financement participatif.

Importation des bibliothèques pour notre étude de données

In [2]:
# importation de la base de données
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error,make_scorer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold

Importation de la base de données

In [3]:
# importation de la base de données
unknowndata= pd.read_excel(r'c:\Users\ARMIDE Informatique\Desktop\Projet Informatique\Base Crowdfunding_2.xlsx')
unknowndata #affichage des données du jeu de données

,ID_des entreprises,Chiffres d'affaires (en milliers d'€),Montant de financement participatif (en milliers d'€),Type de financement,Revenus nets (en milliers d'€)
0,1,200,55,equity crowdfunding,400
1,2,400,37,reward crowdfunding,500
2,3,500,76,crowdlending,700
3,4,500,35,reward crowdfunding,350
4,5,270,15,equity crowdfunding,500
5,6,400,27,reward crowdfunding,500
6,7,300,15,crowdlending,430
7,8,700,40,reward crowdfunding,780
8,9,210,23,equity crowdfunding,300
9,10,250,12,crowdlending,430
10,11,355,66,equity crowdfunding,500
11,12,455,100,crowdlending,655
12,13,467,97,equity crowdfunding,555
13,14,900,113,reward crowdfunding,980
14,15,200,50,crowdlending,350
15,16,345,70,reward crowdfunding,430
16,17,213,55,equity crowdfunding,320
17,18,435,67,reward crowdfunding,510
18,19,678,87,crowdlending,730
19,20,980,200,reward crowdfunding,990
20,21,890,45,crowdlending,910
21,22,789,95,equity crowdfunding,810
22,23,987,99,crowdlending,990
23,24,879,99,equity crowdfunding,900
24,25,897,97,reward crowdfunding,910
25,26,978,210,crowdlending,995
26,27,300,55,reward crowdfunding,400
27,28,400,67,equity crowdfunding,450
28,29,500,125,crowdlending,700
29,30,340,103,reward crowdfunding,600
30,31,234,65,crowdlending,310
31,32,450,90,reward crowdfunding,550
32,33,560,34,equity crowdfunding,700
33,34,800,34,crowdlending,900
34,35,400,56,reward crowdfunding,500
35,36,500,66,equity crowdfunding,750
36,37,700,78,crowdlending,800
37,38,775,87,reward crowdfunding,850
38,39,900,89,equity crowdfunding,990
39,40,230,87,crowdlending,500
40,41,435,88,reward crowdfunding,700
41,42,890,90,equity crowdfunding,999
42,43,908,56,reward crowdfunding,800
43,44,458,89,crowdlending,666

Traitement de la base de données

In [ ]:
#résumé sur le dataset
infodata=unknowndata.info()
infodata #afficher les résumés sur la base de données

#suppression de certaines variables inutiles pour notre modelisation
unknowndata = unknowndata.drop(columns=['ID_des entreprises','Type de financement  ']) 
unknowndata

#afficher les valeurs manquantes
msno.bar(unknowndata, color='orange')

#afficher les doublons
duplicatedata= unknowndata.duplicated().sum()
duplicatedata